@charset "UTF-8";
/* CSS Document */

*{
  $font-family-sans-serif:
  /* Safari for macOS and iOS (San Francisco) */
  -apple-system,
  /* Chrome < 56 for macOS (San Francisco) */
  BlinkMacSystemFont,
  /* Windows */
  "Segoe UI",
  /* Android */
  "Roboto",
  /* Basic web fallback */
  "Helvetica Neue", Arial, sans-serif,
  /* Emoji fonts */
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
}


/* Color theme references:
	Yellow: #FABC60
	Red: #E16262
	Green: #3A9679
	Blue: #11144C
*/

.call-link {
	color: white;
}

.call-link:hover {
	color: #FABC60;
}

.email-link {
	color: white;
}

.email-link:hover {
	color: #FABC60;
}

.social-link {
	color: grey;
}

.social-link:hover {
	color: #3a9679;
}

.social-link-footer {
	color: white;
}

.social-link-footer:hover {
	color: #FABC60;
}


.page-link {
	color: black;

}

.page-link:hover {
	color: #FABC60;
	background-color: #E16262;
}

.navbar {
	background-color: #FABC60;
	z-index: 99999;
}

#logo {
    max-height: 200%;
    z-index: 100000;
}

@media only screen and (max-width:980px) {
	#logo {margin-top: 0px}
}

.navbar-nav {
	padding-left: 100px;
}

.dropdown-menu {
	background-color: #FABC60;
	border: none;
}

.container-fluid .mt-4 {
	background-color: #EBEBEB;
}


.footer {
	background-color: #3A9679;
}


.list-group-item {
	background-color: #fabc60;
}


.copyright {
	padding-top: 10px;
	}


/* Grandfather Clock */



