@charset "UTF-8";
/* CSS Document */
* {
	font-family: 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, 'sans-serif'
}

html body {
	height: 100%;
}

/* Style the header with a color background and some padding */
.header {
    overflow: hidden;
    background-color: #FABC60;
    padding-top: 0px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 0px;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}


/* Change the background color on mouse-over */
.header a:hover {
    background-color: #FABC60;
    color: black;
}
.header a {
}

/* Style the active/current link*/
.header a.active {
  background-color: none;
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
  padding: 10px 10px 10px 75px;
}

/* Image logo and title Tyler Len Woods in one line */
.header-left {
	float: left;
	display: -webkit-flex; /* Safari */
	-webkit-align-items: center; /* Safari 7.0+ */
	display: flex;
	align-items: stretch;
	padding:5px;
}


/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */ 
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: right;
  }
  .header-right {
    float: none;
  }
}

}

#menu ul {
  margin: 0;
  padding: 0;
}

#menu .main-menu {
  display: none;
  text-decoration: none;
  background-color: #e16262;
}

#tm:checked + .main-menu {
  display: block;
}

#menu input[type="checkbox"], 
#menu ul span.drop-icon {
  display: none;
}

#menu li, 
#toggle-menu, 
#menu .sub-menu {
  border-style: solid;
  border-color: rgba(0, 0, 0, .05);
}

#menu li, 
#toggle-menu {
  border-width: 0 0 1px;
}

#menu .sub-menu {
  background-color: #11144c;
  border-width: 1px 1px 0;
  margin: 0 1em;
}

#menu .sub-menu li:last-child {
  border-width: 0;
}

#menu li, 
#toggle-menu, 
#menu a {
  position: relative;
  display: block;
  color: white;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .125);
}

#menu, 
#toggle-menu {
  background-color: #e16262;
}

#toggle-menu, 
#menu a {
  padding: 1em 1.5em;
}

#menu a {
  transition: all .125s ease-in-out;
  -webkit-transition: all .125s ease-in-out;
}

#menu a:hover {
  background-color: white;
  color: #09c;
}

#menu .sub-menu {
  display: none;
}

#menu input[type="checkbox"]:checked + .sub-menu {
  display: block;
}

#menu .sub-menu a:hover {
  color: #11144c;
}

#toggle-menu .drop-icon, 
#menu li label.drop-icon {
  position: absolute;
  right: 1.5em;
  top: 1.25em;
}

#menu label.drop-icon, #toggle-menu span.drop-icon {
  border-radius: 50%;
  width: 1em;
  height: 1em;
  text-align: center;
  background-color: rgba(0, 0, 0, .125);
  text-shadow: 0 0 0 transparent;
  color: rgba(255, 255, 255, .75);
}

#menu .drop-icon {
  line-height: 1;
}


@media only screen and (max-width: 64em) and (min-width: 52.01em) {
  #menu li {
    width: 33.333%;
  }

  #menu .sub-menu li {
    width: auto;
  }
}

@media only screen and (min-width: 52em) {
  #menu .main-menu {
    display: block;
  }

  #toggle-menu, 
  #menu label.drop-icon {
    display: none;
  }

  #menu ul span.drop-icon {
    display: inline-block;
  }

  #menu li {
    float: left;
    border-width: 0 1px 0 0;
  }

  #menu .sub-menu li {
    float: none;
  }

  #menu .sub-menu {
    border-width: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 12em;
    z-index: 3000;
  }

  #menu .sub-menu, 
  #menu input[type="checkbox"]:checked + .sub-menu {
    display: none;
  }

  #menu .sub-menu li {
    border-width: 0 0 1px;
  }

  #menu .sub-menu .sub-menu {
    top: 0;
    left: 100%;
  }

  #menu li:hover > input[type="checkbox"] + .sub-menu {
    display: block;
  }
}

body {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  margin: 0;
  padding: 20px;
  border: 0;
  font-family: Arial;
  font-size: 100%;
  vertical-align: baseline;
}

/* Center website */
main {
	padding-top: 100px;
	flex: 1 0 auto; 
	max-width: 1000px;
	margin: auto;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

#contact
{
	color: #828282;
	text-decoration: none;
	background-color: none;
}



/* Sticky Footer Styles */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Footer height plus 20px (for actual margin) */
    margin-bottom: 15px;
	position: relative;
}



footer{
	bottom: 0;
	flex-shrink: 0;
}
.footer-distributed{
	background-color: #3a9679;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
 
	padding: 55px 50px;
	margin-top: 40px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
.footer-distributed .footer-left{
	width: 40%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px;
	margin: 0;
}
 
.footer-distributed h3 span{
	color:  #5383d3;
}
 
 
.footer-distributed .footer-links{
    color: #ffffff;
    margin-top: 8px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 12px;
    padding: 0;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin-top: -7px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}
 
 
.footer-distributed .footer-center{
    width: 35%;
}
 
.footer-distributed .footer-center {
    line-height: 0;
    color: #ffffff;
    vertical-align: middle;
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 0px;
}
 
.footer-distributed .footer-center p span{
    display: block;
    font-weight: bold;
    font-size: 14px;
}
 
.footer-distributed .footer-center p a{
	color:  #e16262;
	text-decoration: none;;
}


.footer-distributed .footer-right{
	width: 20%;
}
 
.footer-distributed .footer-company-about{
    line-height: 2;
    color: #ffffff;
    font-size: 13px;
    font-weight: normal;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}
 
.footer-distributed .footer-company-about span{
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
}

 
 
@media (max-width: 880px) {
 
	.footer-distributed{
		font: bold 14px sans-serif;
	
	}
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}
 
}
